! -*- ospf -*-
!
! OSPFd sample configuration file
!
!
hostname ospfd
password zebra
!enable password please-set-at-here
!
log stdout
log file /var/log/frr/frr_ospfd.log
!
interface eth1
ip ospf mtu-ignore
ip ospf network point-to-point
! ip ospf cost 200
ip ospf hello-interval 15
ip ospf dead-interval 60
!
interface eth2
ip ospf mtu-ignore
ip ospf network point-to-point
!ip ospf cost 1000
ip ospf hello-interval 15
ip ospf dead-interval 60
!
!
router ospf
ospf router-id {{ ospf_net.R1.router_id }}
!
network {{  ospf_net.R1.ip }}/{{ ospf_net_mask.netmask_8 }} area 0
network {{  ospf_net.R2.ip }}/{{ ospf_net_mask.netmask_8 }} area 0
neighbor {{ ospf_ip_neigh.ip_R1_1 }}
neighbor {{ ospf_ip_neigh.ip_R1_2 }}
!
!ospf opaque-lsa
!
default-information originate always
line vty
