local {{openvpn_srv01_net.ip_localnet_tap_int}}
port {{openvpn_srv01_net.port_localnet_tap_int}}
proto udp4
dev tap0
topology subnet
ca {{srv01_path_certs}}/ca.crt
cert {{srv01_path_certs}}/{{openvpn_srv01_net.ip_localnet_tap_int}}.crt
key {{srv01_path_certs}}/{{openvpn_srv01_net.ip_localnet_tap_int}}.key
dh {{srv01_path_certs}}/dh.pem
tls-auth {{srv01_path_certs}}/ta.key 0
cipher BF-CBC


#server-bridge {{openvpn_srv01_net.ip_tunelnet_tap_int}} {{openvpn_srv01_mask}} {{openvpn_tunel_client_net.ip_tunel_client_net_start}} {{openvpn_tunel_client_net.ip_tunel_client_net_stop}}
server-bridge 192.168.224.2 255.255.255.240 192.168.224.8 192.168.224.14
push "route 192.168.100.0 255.255.255.240"
keepalive 10 120
comp-lzo
float
tun-mtu 1500
#mssfix 1300


#user nobody
#group nobody

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log
log-append /var/log/openvpn/openvpn.log
verb 3

# for udp only
explicit-exit-notify 1
