### client.conf
dev tap
proto udp4
remote {{openvpn_srv01_net.ip_localnet_tap_int}} {{openvpn_srv01_net.port_localnet_tap_int}}
client
tls-client
resolv-retry infinite
auth-nocache
persist-key
persist-tun
comp-lzo
verb 3
key-direction 1
status /var/log/openvpn/openvpn-status.log
log /var/log/openvpn/openvpn.log
<ca>
-----BEGIN CERTIFICATE-----
MIIDSzCCAjOgAwIBAgIUaz5VhWB944bw4Y0OVOsmicbJDkEwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjEwNjE2MDQyOTEwWhcNMzEw
NjE0MDQyOTEwWjAWMRQwEgYDVQQDDAtFYXN5LVJTQSBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAODZXHB5JQJn0STS+uNJ9ttSwa9GDY2xsYmbmA2r
O1PHHCKn733fZvAcni40Ht6n+gJAacWEVml92pP+X9Ii7ai7qpS55mWQSBhcc8UF
QdzPzuIhm4S8bb23ymsFHnl8wmlpMUd07td0w5o9PmScZiSAeZz4Y0YOadLGVJPl
KztXu6H28+SMi7QEKn45tuKeUupf2SoCz15qZzQhb+fhqsHLchU1Tvj/rWpPdBku
Doh5qxfTL3WrCAQVlg1/mh/+r/K3h5+Whc7uO8386bVuH5plHBQOROnqR2UT/zb8
faD/+SazrGze9glFI0JqOuuom8MJHlpkW2DAg6fUKbbtsM8CAwEAAaOBkDCBjTAd
BgNVHQ4EFgQUXZDlFibjVN1QasGcrVZoClao+8kwUQYDVR0jBEowSIAUXZDlFibj
VN1QasGcrVZoClao+8mhGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNBIENBghRrPlWF
YH3jhvDhjQ5U6yaJxskOQTAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQsFAAOCAQEAj59KH5/qvDGB4ga56jcYzLAxFSWd7Wc+sLXj+mWq33id
gkw4FrRxb+fsOg2oshaJZKwiLByMpxb5fwTAtS8pdUy1vWimwjAADFk/7xpEI/Z/
aJ+vPBEDg1Ps5isG8yqoqrfJ6oQh/1hFC2KVADyjF9IoxXIVc4BbyGNzCTZEUTDr
xJwnrK4pO95SUR4tWpMsPJo+pP3CvpxjZJ1VJm/ZfixGN7slRLDhq1yLg9YoO40T
sWpITzQSuaHqr2QNbcqUTj73iacrIm9jJCn20pmBIKzDD+gL5xSzTeJ9kwnoee+I
PQMwkHmnQFJrYhEAiFzbeGOp47WE7eNMctgL+gl98Q==
-----END CERTIFICATE-----
</ca>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCblyblKm/cX5v9
lUsAEZ0owa0YgzhBbG2GEMlSvRjuvPuxwCZEHZ3/B75mrYsQFhhpuKyt/OoBE0M3
C6KTwiMoKsI+lLR3QNwQpKJLDxkifkZIDOlSk1b6LxPZJPyJjeeiFn3P2T8Im4Ag
8gWWGq0Opk6nk1xXf+4U5Qhi77I4lTGUIDi0ah88hsHs1NUcH2MjRHZZo1Ss/xKo
v1+l+6N319y7z6lQs2uPVAjrci420WL14QH8aSpnhXnOZnFg3TjShYQTYYEoN5UT
E9xlks1XdLILUHPEVqZIO5S7G7cqJgeyPaf6VAG10Z0Ecisjae9yq8YF4BYjidyX
d5sn6RdLAgMBAAECggEAHlwcJtNlCGdPlOewvs6xD+ba09GnBH0X0fUsk4x6dPtD
Uafgz6HH1p+4M2jhnb3x/Y8fgsO7FYKgtvj6PELBgXD2fieeHzb0ufqmAGdtzCE/
rYd3b7l4W1EcWl6xOFYMQMCKxCfr+M3+7m7LUELcSeOBrYk/l4NK/aDDRirnZ8rH
AqGn7Z96yYf53oKa26MlIYLO0ghzUZQT63BnsleOKZZBw7oY0KHd2hA4IhtYqj5i
hijXG5cS8L0miSWeOg+LG+Y08Rfi53CK5oEU9J94g0PKxYrQfD6b+oFR/NE4VbLX
K4CVf1t0URsULArr9rdfKg3z0sr6mWN3qukFcVcwoQKBgQDIZB1UMorFRxW6wQHy
httVvg5WOj3XSI7zr6cuP7OiprDFeCLwmEMahPo/DhwT4MmW4YYn6jKLPVeRrveB
Du0iJj79jiQKeCgyuYtJ+ISx3fbHneQ3OQIYLnUgTe+WSbD1Ul2J84Pf5uBWraPu
WTQh/Vx9FVa5o4IKmBopX911bQKBgQDGxGCHeXn32LgljMkCKvdTNSroiKEy4cR9
eKXIcjo4XcGRlFAk2OVBqtwbVZ6YbCZzWG5x4oZn6q2PmAX5Df+uBqdmQ6RcMkXy
0wH6Ak53BpP5xm89H6W/KhWjoMGvgxs1zQXQCOA70lFW2iWZZ2ksUZLpJ6b2E6XJ
isMNeuuklwKBgAQCNK/9ftcpb97Xg5F1byfM8H57FcebtPhc+CwtrAtB6GFa4OAN
O7JpHJRsVNV09rNk+YkM30v3wyuv41WaldXMDBCIamInOy6glY+6P/VK6mfd2bXd
FxSiwUcPKA7KlJajuilLTMUK2kwBlzjqYeeYKOR7q8t04OITXtqbB1QVAoGAUCy4
Dw1F0F4/cQ4HqnMwTgTdKOyrsP12J3I51M+WglP3F0Suyx4d404K+I+hqDO/krkx
24gW1OXJWmlkx2AJKOYQMeTI8FNq+ZZ5bqHtin9BwvdyuUIBtklAbz8RwTzuBdaM
KKzb3eVo39KgZe9bcf/5dUiERTAJqHDrWo2hbUMCgYEAgU5+8tEZ7zorF49StLvH
ULwcdS4MmN+9vgm8rBRp9EyHmCQPDleKQObhQTsq0p1UhWq2OTtIe+lTZ5Cy9q+k
xbR97DJw+onS5p6vIpMgo3tg9lciXdfn5PM7wH8pLBzuCEyS1uE6GAKExHYeDbSC
wUk1wC4Pz8n2Lk0ui6m3djY=
-----END PRIVATE KEY-----
</key>
<cert>
-----BEGIN CERTIFICATE-----
MIIDWzCCAkOgAwIBAgIQfqKPExlxnzPloGd82sr9STANBgkqhkiG9w0BAQsFADAW
MRQwEgYDVQQDDAtFYXN5LVJTQSBDQTAeFw0yMTA2MTYwNDM1NDNaFw0yMzA5MTkw
NDM1NDNaMBgxFjAUBgNVBAMMDTE5Mi4xNjguMTkyLjEwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQCblyblKm/cX5v9lUsAEZ0owa0YgzhBbG2GEMlSvRju
vPuxwCZEHZ3/B75mrYsQFhhpuKyt/OoBE0M3C6KTwiMoKsI+lLR3QNwQpKJLDxki
fkZIDOlSk1b6LxPZJPyJjeeiFn3P2T8Im4Ag8gWWGq0Opk6nk1xXf+4U5Qhi77I4
lTGUIDi0ah88hsHs1NUcH2MjRHZZo1Ss/xKov1+l+6N319y7z6lQs2uPVAjrci42
0WL14QH8aSpnhXnOZnFg3TjShYQTYYEoN5UTE9xlks1XdLILUHPEVqZIO5S7G7cq
JgeyPaf6VAG10Z0Ecisjae9yq8YF4BYjidyXd5sn6RdLAgMBAAGjgaIwgZ8wCQYD
VR0TBAIwADAdBgNVHQ4EFgQU7/IY4Wp0pxUtGQJ3KSQIOVpq/tgwUQYDVR0jBEow
SIAUXZDlFibjVN1QasGcrVZoClao+8mhGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNB
IENBghRrPlWFYH3jhvDhjQ5U6yaJxskOQTATBgNVHSUEDDAKBggrBgEFBQcDAjAL
BgNVHQ8EBAMCB4AwDQYJKoZIhvcNAQELBQADggEBANekvQlibGFGk6uzdZpacXv2
FvjRG9gS+/4hRaYZlepulil1R4fpKW8FC3oSDrXQqgbnONXqs7I96lpcmX7Q6XCC
yHXc6LlnDl8euqFIZk7Hvll1Peg4S/k9nE/Xn91LhB5VVT+9p53Z2JEZRQEUlqs4
xiOlcEZNcaRJzlwd9WHdMZZU96K5MpmepNOuv/LJgR+14Z0CTPovaQ3kkAMAB+qU
EE/iB6eCFydrEuf35iiWGbh4g+KX54W124HKlXRas6/gSZh0lqvJDVhwLm1xGnE7
FmvvzbTRWqCezmEW+nEFODh/c6nYKOtpsUhy5JHHZHCGe6hrXPaIV6s16ycZ61s=
-----END CERTIFICATE-----
</cert>
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
15d1e054a112fff1d7a8de794efafa47
496116ad31db9aca406ed45afb5984ed
68e0ec4f6e366724c8fdc95020888c2a
c864b53eb7476f8e8368126b32462022
7500e34f27d40f79df9cc3639def9b62
e6ad3537923f29667f8b268baa81006a
a5c88e88199753a7545e0017db41c0a2
531dd93af590dee9693981367e4c0c30
68f417064f8508998624dfb10b02b699
da147ca873d4612d4939c6090411d60d
cd49e1387a6ad60592822b025fe48c1d
ae0741f6172bae9fef4ce0dec228a7d0
c5eca6041b62ceb176d79a9e2343e47c
7baa5912e4460fda6f8c8c151df56f6a
51cec839f8ef90042f5448c60e1e4e41
da0c5013bb45a7dde0a2b4f86bcd686c
-----END OpenVPN Static key V1-----
</tls-auth>
