### client.conf
dev tap
proto udp4
remote {{openvpn_srv01_net.ip_localnet_tap_int}} {{openvpn_srv01_net.port_localnet_tap_int}}
client
tls-client
resolv-retry infinite
auth-nocache
persist-key
persist-tun
comp-lzo
verb 3
key-direction 1
status /var/log/openvpn/openvpn-status.log
log /var/log/openvpn/openvpn.log
<ca>
-----BEGIN CERTIFICATE-----
MIIDSzCCAjOgAwIBAgIUaz5VhWB944bw4Y0OVOsmicbJDkEwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjEwNjE2MDQyOTEwWhcNMzEw
NjE0MDQyOTEwWjAWMRQwEgYDVQQDDAtFYXN5LVJTQSBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAODZXHB5JQJn0STS+uNJ9ttSwa9GDY2xsYmbmA2r
O1PHHCKn733fZvAcni40Ht6n+gJAacWEVml92pP+X9Ii7ai7qpS55mWQSBhcc8UF
QdzPzuIhm4S8bb23ymsFHnl8wmlpMUd07td0w5o9PmScZiSAeZz4Y0YOadLGVJPl
KztXu6H28+SMi7QEKn45tuKeUupf2SoCz15qZzQhb+fhqsHLchU1Tvj/rWpPdBku
Doh5qxfTL3WrCAQVlg1/mh/+r/K3h5+Whc7uO8386bVuH5plHBQOROnqR2UT/zb8
faD/+SazrGze9glFI0JqOuuom8MJHlpkW2DAg6fUKbbtsM8CAwEAAaOBkDCBjTAd
BgNVHQ4EFgQUXZDlFibjVN1QasGcrVZoClao+8kwUQYDVR0jBEowSIAUXZDlFibj
VN1QasGcrVZoClao+8mhGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNBIENBghRrPlWF
YH3jhvDhjQ5U6yaJxskOQTAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQsFAAOCAQEAj59KH5/qvDGB4ga56jcYzLAxFSWd7Wc+sLXj+mWq33id
gkw4FrRxb+fsOg2oshaJZKwiLByMpxb5fwTAtS8pdUy1vWimwjAADFk/7xpEI/Z/
aJ+vPBEDg1Ps5isG8yqoqrfJ6oQh/1hFC2KVADyjF9IoxXIVc4BbyGNzCTZEUTDr
xJwnrK4pO95SUR4tWpMsPJo+pP3CvpxjZJ1VJm/ZfixGN7slRLDhq1yLg9YoO40T
sWpITzQSuaHqr2QNbcqUTj73iacrIm9jJCn20pmBIKzDD+gL5xSzTeJ9kwnoee+I
PQMwkHmnQFJrYhEAiFzbeGOp47WE7eNMctgL+gl98Q==
-----END CERTIFICATE-----
</ca>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDHvFX0yGYn0ycj
tCRw6Xuc79FRAAosbRvX1Kghoq/bmrCfnOYavcStzVJtXyPFpoId0o/DKtffazJ4
e7wonr37qOwP4bFlTJJWsjRxmmJU1BXRD1Vr81L6W/yWK43w0CwSJCctmeUFGtQB
LseZnBov0j2DD4BpiPg4GEIwMnwUDtDfFB3upc8qshSM3Xd3xiBHR0X8IDnTNnfD
X5t4eAuX4tL7avD9paZe2w0WpTV8bsLnRALmOvP27V0XhBtaiff/4tFH3w+gWNPf
DSJHur7jZYBvynYSdjXofoN3dXIjTCXchCOUOxoZIvGNGGCXnxXyCHIJmKyhTfRW
DQdEwttTAgMBAAECggEAHDya5kUidATc5qZD9JZ9fD1HGS1pQsiWBBgzQLYQKHqg
95+lxCgJ0wxQ19d4ZivY/0BSRKQc6p/r/a54dkGi2B4UaVZdztVZZtpAocLSne1x
vCFv0RgQJga1GcHEikPTxyjHRSIZh3Q4foZPf37bEOGnAo1BeSn89WkwikHI2sjR
aLZOcJQQf3L58GiMFWxk+y2zCZbmXiCGhs/cHlSj8jgHQf4nLTFyp2hZaqVrHfKn
qpBX5RRJRo/5+vHSLRGt95BKIgh4wM+hn0ZxvxnZsQnuHDiTJPRO8IlLN/6Zgmw8
psw+OyOZ69tcnb9FdAwYbvT2lVVjPDSJYc/hAGOzQQKBgQDtqo6EQ8GAaL3bafqv
IIbcoAS8wsAG4q43l2Zcj600Ju/S261P1PacEoO9TpCOFSrrID3amjB4dDg8Wzg7
hZty5EeYWKQjl3THSEa6YoR4KNtnj6FrUdpjlYlm9t1fi1SvVPLLXw10x6mruc/3
pQqBNgd/Dv48mDfDsIfpzybYoQKBgQDXJLmR2efXoHPIwDrwaAiSVIq6wh9n4Swj
kIL8z6CWGRyEOgGf2cfGKhs4KESu03I32Atd8cskiGR8arxND0O0dd6KIfirSayx
TJWU3QRMOvNWys9z34rxKhXACp2AgjNWSItuRjQcFzhTv465l+F25EA8jT24aXgu
NJXdUhyrcwKBgCDaGZcY0o+QauYAcUFx6pJmoCEDfo21GcXfbKvQxG1YEICCEyPc
2TXbrVAmov6w2Fzl+QbVl2ufDQLyzQQVRNaNzYO2hQHSdrbxO62Z3pvJcgKPrQ1r
pBdt3S9ZYmJJnSwbPvBztCV3T/HH3oJp0tjnggPDK8tucw7ewPrFwqXhAoGBAMxn
zg+u0sFhZuBjExx6Gzq8LBqIeUI/A6q+kFUWB2LUdO2EFysCxPWX58iRKcBYkPpR
v2sAYZtSIva6ijFEwXThUBA5eoNzOioxsyR+YKj0kWHyyusyhlXfQE73RvFjwtbF
kgOxm6zcut2G8FmQ3dwRvJ5LK0rcmhx8Ra7DZw3VAoGAPiFP2QJDK/4mlnATKuS7
X3ApUGXQXSnO8LS+xxALnFIuatjC5UfbnPDabIDr3mVtKZq5m5Yi/k2M4JZYpJWM
F7HQuLPWQH/CPHGRgafN+1E/TiQa05QEy2B4LnWXE9lSRiIIUdng69TMHVxGQV+j
GTjALSxmmc1ibv9WOGU1Rzw=
-----END PRIVATE KEY-----
</key>
<cert>
-----BEGIN CERTIFICATE-----
MIIDXDCCAkSgAwIBAgIRAP/Sck648XH+W7vdM3e38FUwDQYJKoZIhvcNAQELBQAw
FjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjEwNjE2MDQzNTI0WhcNMjMwOTE5
MDQzNTI0WjAYMRYwFAYDVQQDDA0xOTIuMTY4LjEyOC4xMIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAx7xV9MhmJ9MnI7QkcOl7nO/RUQAKLG0b19SoIaKv
25qwn5zmGr3Erc1SbV8jxaaCHdKPwyrX32syeHu8KJ69+6jsD+GxZUySVrI0cZpi
VNQV0Q9Va/NS+lv8liuN8NAsEiQnLZnlBRrUAS7HmZwaL9I9gw+AaYj4OBhCMDJ8
FA7Q3xQd7qXPKrIUjN13d8YgR0dF/CA50zZ3w1+beHgLl+LS+2rw/aWmXtsNFqU1
fG7C50QC5jrz9u1dF4QbWon3/+LRR98PoFjT3w0iR7q+42WAb8p2EnY16H6Dd3Vy
I0wl3IQjlDsaGSLxjRhgl58V8ghyCZisoU30Vg0HRMLbUwIDAQABo4GiMIGfMAkG
A1UdEwQCMAAwHQYDVR0OBBYEFKsbC9JqBr1+Y7PcnZZXY+hfY2UXMFEGA1UdIwRK
MEiAFF2Q5RYm41TdUGrBnK1WaApWqPvJoRqkGDAWMRQwEgYDVQQDDAtFYXN5LVJT
QSBDQYIUaz5VhWB944bw4Y0OVOsmicbJDkEwEwYDVR0lBAwwCgYIKwYBBQUHAwIw
CwYDVR0PBAQDAgeAMA0GCSqGSIb3DQEBCwUAA4IBAQCWCncBYfLXQcZ6EAr0X/zS
xYL5m5edOIr5JyfDf8KKniLOIUUIQE/AuJHXDyQToEsOAl2CGzt8FIzQwUD6nG3E
wRyVD5F8oCNlFJkb7V8MTLooCSi5xvyFao9gphLGEZjO6SLtWBgZ8uKmFM0u4oMW
b3U1ls7xgp1sP+AxqzxRWJ26kHSkSJ+O88DWF8IRiVnI+hwpYNMfHovq3p6F7W62
ShZqd30KU1quC7BorHfGZkvnMEhQTqt1uvQQ9tieS3n0k2Uy52D2iM4uSjw/eBLq
Ok+KfYsZQcl0Od+rBFWzaIQxN6IchQOViLw5I5BLloZVnzdjqFjqi2r2/ghVPujB
-----END CERTIFICATE-----
</cert>
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
15d1e054a112fff1d7a8de794efafa47
496116ad31db9aca406ed45afb5984ed
68e0ec4f6e366724c8fdc95020888c2a
c864b53eb7476f8e8368126b32462022
7500e34f27d40f79df9cc3639def9b62
e6ad3537923f29667f8b268baa81006a
a5c88e88199753a7545e0017db41c0a2
531dd93af590dee9693981367e4c0c30
68f417064f8508998624dfb10b02b699
da147ca873d4612d4939c6090411d60d
cd49e1387a6ad60592822b025fe48c1d
ae0741f6172bae9fef4ce0dec228a7d0
c5eca6041b62ceb176d79a9e2343e47c
7baa5912e4460fda6f8c8c151df56f6a
51cec839f8ef90042f5448c60e1e4e41
da0c5013bb45a7dde0a2b4f86bcd686c
-----END OpenVPN Static key V1-----
</tls-auth>
