### client.conf
dev tun0
proto udp4
remote {{openvpn_srv01_net.ip_localnet_tun_int}} {{openvpn_srv01_net.port_localnet_tun_int}}
client
remote-cert-tls server
resolv-retry infinite
auth-nocache
persist-key
persist-tun
comp-lzo
verb 3
tls-client
log-append /var/log/openvpn/openvpn.log
key-direction 1

<ca>
-----BEGIN CERTIFICATE-----
MIIDSzCCAjOgAwIBAgIUaz5VhWB944bw4Y0OVOsmicbJDkEwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjEwNjE2MDQyOTEwWhcNMzEw
NjE0MDQyOTEwWjAWMRQwEgYDVQQDDAtFYXN5LVJTQSBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAODZXHB5JQJn0STS+uNJ9ttSwa9GDY2xsYmbmA2r
O1PHHCKn733fZvAcni40Ht6n+gJAacWEVml92pP+X9Ii7ai7qpS55mWQSBhcc8UF
QdzPzuIhm4S8bb23ymsFHnl8wmlpMUd07td0w5o9PmScZiSAeZz4Y0YOadLGVJPl
KztXu6H28+SMi7QEKn45tuKeUupf2SoCz15qZzQhb+fhqsHLchU1Tvj/rWpPdBku
Doh5qxfTL3WrCAQVlg1/mh/+r/K3h5+Whc7uO8386bVuH5plHBQOROnqR2UT/zb8
faD/+SazrGze9glFI0JqOuuom8MJHlpkW2DAg6fUKbbtsM8CAwEAAaOBkDCBjTAd
BgNVHQ4EFgQUXZDlFibjVN1QasGcrVZoClao+8kwUQYDVR0jBEowSIAUXZDlFibj
VN1QasGcrVZoClao+8mhGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNBIENBghRrPlWF
YH3jhvDhjQ5U6yaJxskOQTAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQsFAAOCAQEAj59KH5/qvDGB4ga56jcYzLAxFSWd7Wc+sLXj+mWq33id
gkw4FrRxb+fsOg2oshaJZKwiLByMpxb5fwTAtS8pdUy1vWimwjAADFk/7xpEI/Z/
aJ+vPBEDg1Ps5isG8yqoqrfJ6oQh/1hFC2KVADyjF9IoxXIVc4BbyGNzCTZEUTDr
xJwnrK4pO95SUR4tWpMsPJo+pP3CvpxjZJ1VJm/ZfixGN7slRLDhq1yLg9YoO40T
sWpITzQSuaHqr2QNbcqUTj73iacrIm9jJCn20pmBIKzDD+gL5xSzTeJ9kwnoee+I
PQMwkHmnQFJrYhEAiFzbeGOp47WE7eNMctgL+gl98Q==
-----END CERTIFICATE-----
</ca>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDRqFMoorjM7GWa
8zshM9vgXdTwLOfuTGD+8x5A6DS4B1MmS+NSeojUpp184Z4MMXib8pE0BptIO0Vv
4HVzuGuuOHUzUVBV2fL0IfgQXc1QIZPT5PrmWHMXMZ9uNK5WhWOI2LncIvIdmMqA
zJu0HwR8X+poSPEFATcXgFACPqayVtggxsvuAk30Oqj+1l3INKtTx6x1sXvvTEyx
hrpUB7ZhcH/hKUh85Ip2rbYDQSAtnocf5GUCOMCY0ur0+3V1oAPb8K299Pz7rI8c
RA56iWeB+RYGNED7SBo+qfhDaOvsmM6Py0P78trTGiRoM8qxaVnaMLWyqhPyrw4u
cpACTs41AgMBAAECggEBALA6K4Q5mtptTk57atVS0Nv8IxOqu1z7iIBkfKaUSFPz
nDnRigd3BfKxBinFP2MCZl22+8ReVUHWyFvssO0PNDviKulyzPMM2wHIV8nx/rT/
NFHk49ygtkTlqhwpXe1N+8c4XKmkGh00o+q1kZ9KfyvIN7Fmtmi9h8BSU24/mUDG
5e7T/B5jhZL8xmM3OykmJYsSxfWSRNU8xPjkS9j5RBmdKnih++NMCdewUinimItp
oJS5SH3zObk+Lo5mfGX0gfoigoswGJeMLM2Ii8aKgeyR4RwuIIQXaSo1JyvCQBHo
oB9JA1YGzhtx/rYyC+jTO3RTDDUwZJw00gmO0hTJymECgYEA+zasAF3G4F2Kz40l
JB6vZ9g0CgzZ5qZj2h0mRSmB0A9gqaSsD8LAW6Zlp4tf/HMmXFvw0Kz3EW+OWbFR
3dxYNbNLKudD8vMcCQg9GUmgCyPQJUBpaaxjPalpl0Jlkx+L7EAzMnIrz9MVIUlf
nv12VQCEzM5G9r5dWH0BoiXcqH0CgYEA1ab1Llep3ApwBxkjGl3AU4O3lI8uL7ae
7ZCEs83sKl63BiBmPlIvFtSoitEjpMDIvXnJnA9re4wa1PiiITWcz+YDRj2Zx/Al
BfFHSsctYmBTkOon0aIIWxFGOlzp/hnXjEvhWhSptGE+ORsiqU2hoG5dj2n4/d7F
iQgmLkJU4hkCgYAIjjwdZxQ23/iySORS7piauMpM7VMef9w2uXdsM5WwOFXacTlK
8B8NAAXGRwDl4CYWTytMcBeaCGqYs2lOXQrECW8t7uJpi84QoK80BUXmGzojiqYM
a0qV9wcZl7FN6W0ihq03spu7YDz//Te8enVlP7dGImBYVvNm6Br+Irv5IQKBgHmV
JGu16WzV58CyVl6XwW4FRABfpqnyY+jPWCU2Z1IJSmBLKcQHYtK8PBmbQIxuRQ5G
cyvDPqg1J8PQpfr+Fnnc7DoZrhywlXEXSDnOtQ4JwSRzjCto6RZh8zQdUe+PZzFo
sRphLd3/hLhcr9Hm4rZ4d/e4F8Do+EKuB4RFrSZpAoGAYSoCw17Qu2ieU527GqWz
QVJ4kfcxZMvF3kxiAywyUKkbHbzJk1oWobLNHe5dwmUwjm4B9EcHef2g+9pBsVUO
VGCM4EIouG/1QgzUxyTPy+Ey1xcpBOOCiBzwhFpECX++VjKioMVir9x44P23TSHU
p2qEyijl0ZThn05OMMXAlrc=
-----END PRIVATE KEY-----
</key>
<cert>
-----BEGIN CERTIFICATE-----
MIIDVDCCAjygAwIBAgIRANSNIG2PzLpbWf3PHFW4lS4wDQYJKoZIhvcNAQELBQAw
FjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjEwNjE2MDQzNDI5WhcNMjMwOTE5
MDQzNDI5WjAQMQ4wDAYDVQQDDAVjbG4wMTCCASIwDQYJKoZIhvcNAQEBBQADggEP
ADCCAQoCggEBANGoUyiiuMzsZZrzOyEz2+Bd1PAs5+5MYP7zHkDoNLgHUyZL41J6
iNSmnXzhngwxeJvykTQGm0g7RW/gdXO4a644dTNRUFXZ8vQh+BBdzVAhk9Pk+uZY
cxcxn240rlaFY4jYudwi8h2YyoDMm7QfBHxf6mhI8QUBNxeAUAI+prJW2CDGy+4C
TfQ6qP7WXcg0q1PHrHWxe+9MTLGGulQHtmFwf+EpSHzkinattgNBIC2ehx/kZQI4
wJjS6vT7dXWgA9vwrb30/PusjxxEDnqJZ4H5FgY0QPtIGj6p+ENo6+yYzo/LQ/vy
2tMaJGgzyrFpWdowtbKqE/KvDi5ykAJOzjUCAwEAAaOBojCBnzAJBgNVHRMEAjAA
MB0GA1UdDgQWBBT5tbtMWr+w2i+Ujp4qdu+ndLmpNTBRBgNVHSMESjBIgBRdkOUW
JuNU3VBqwZytVmgKVqj7yaEapBgwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0GCFGs+
VYVgfeOG8OGNDlTrJonGyQ5BMBMGA1UdJQQMMAoGCCsGAQUFBwMCMAsGA1UdDwQE
AwIHgDANBgkqhkiG9w0BAQsFAAOCAQEAc4j8ODgYH4+2n15QnTHHtorX/3ccVx2A
UcOyBCOvGgyBc+F4Nf7qhYhqHxbh/FhXrsjdzonRjNK5EibO8eQ9H7Q7m2FdoL+P
h765wlM+xg6PZt2LJ609XE8Fv9j/zL6Jt3G+87ojmOPmJJ7rTzrjlcMwbhe5cC19
9s0/6W/4YW+OeIDH5Unfto+6zml2W5cFV33MjTCXaZ6DOTAvux34RLU02QF/S1pb
hFy1KkjfiLZTlHgNtkJ/7DS0lfJ4WYvctlMH945Xk8NBItz0FYfvr77BIRe7Qt2P
+NiOky0Jt17EqEV5NL4qhJFBnwg6uVHPHIyF7qowtbqRemdGvyA+cA==
-----END CERTIFICATE-----
</cert>
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
15d1e054a112fff1d7a8de794efafa47
496116ad31db9aca406ed45afb5984ed
68e0ec4f6e366724c8fdc95020888c2a
c864b53eb7476f8e8368126b32462022
7500e34f27d40f79df9cc3639def9b62
e6ad3537923f29667f8b268baa81006a
a5c88e88199753a7545e0017db41c0a2
531dd93af590dee9693981367e4c0c30
68f417064f8508998624dfb10b02b699
da147ca873d4612d4939c6090411d60d
cd49e1387a6ad60592822b025fe48c1d
ae0741f6172bae9fef4ce0dec228a7d0
c5eca6041b62ceb176d79a9e2343e47c
7baa5912e4460fda6f8c8c151df56f6a
51cec839f8ef90042f5448c60e1e4e41
da0c5013bb45a7dde0a2b4f86bcd686c
-----END OpenVPN Static key V1-----
</tls-auth>
